<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>{% block title %} TITLE GOES HERE {% endblock%}</title>
      <!-- <script src="https://code.jquery.com/jquery.js"></script> -->
      <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
      <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"> -->
      <script src="/static/js/jquery-3.1.0.min.js"></script>
      <script src="/static/js/d3.min.js"></script>
      <script src="/static/js/jquery.matchHeight.js"></script>
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway:700" rel="stylesheet"> -->
      <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid navbar-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsible-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="collapsible-navbar">
              <ul class="nav navbar-nav navbar-left">
                <a class="navbar-text" href="/search">Search</a>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <!-- IF USER LOGGED IN -->
                {% if session.get("user_id") %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle navbar-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Welcome, {{ session["username"] }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/profile">Profile</a></li>
                      <li><a href="/my_recipes">My Recipes</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/logout">Logout</a></li>
                    </ul>
                  </li>
                <!-- IF USER NOT LOGGED IN -->
                {% else %}
                  <li>
                      <a href="#" role="button" data-toggle="modal" data-target=".login-modal-sm">Login</a>
                      <div class="modal fade login-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog modal-sm" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-labe="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel">Login</h4>
                              or&nbsp<a href="/register">register here</a>
                            </div>
                            <div class="modal-body">
                              <form action="/login" id="login-form" method="POST">
                                <label> Username <br><input type="text" id="username" name="username" value="Ada" required></label><br><br>
                                <label> Password <br><input type="password" name="password" value="12345" required></label><br><br>
                                <input type="submit" id="submit-login" hidden>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                              <label for="submit-login" class="btn btn-primary">Login</label>
                            </div>
                          </div>
                        </div>
                      </div>
                  </li>
                  <li>
                    <a href="/register">Register</a>
                  </li>
                {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <ul>
            {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %}
        </ul>
        
        {% block content %} CONTENT GOES HERE {% endblock %}
    
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
        <script src="/static/js/bootstrap.min.js"></script>
        <script>
          $('#collapsible-navbar').attr('style', 'height: 40px!important');
        </script>
    </body>
    <footer>
      <div class="footer">
        <center>
          Powered By&nbsp&nbsp
          <a class="footer-links" href="https://spoonacular.com/food-api" target="_blank">Spoonacular, </a>&nbsp
          <a class="footer-links" href="http://minimalistbaker.com/" target="_blank">Minimalist Baker</a>
        </center>
      </div>
    </footer>
</html> 