{% extends 'base.html' %}
{% block title%}Profile{% endblock %}
{% block content %}

<div class="my-contents">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>Hi, {{ user.username }}</h1>
                <h5><a id="logout" href="/logout">Logout</a></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                {% if user.profile_img %}
                    <img src="static/uploads/{{ user.profile_img }}" width="300">
                {% else %}
                    <img src="static/img/profile-placeholder.png" width="300">
                {% endif %}
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file"><br>
                    <input type="submit" value="Upload">
                </form>
            </div>
            <div class="col-xs-12 col-md-8">
                <h4><a href="/my_recipes">My Recipes</a></h4>
                <button id="edit">Edit My Recipes</button><br><br>
                <form id="editForm">
                    {% for label, recipe in label_recipes.items() %}
                        <h5>{{ label }}&nbsp<input class="to-toggle" type="text" id="label" hidden></h5>
                        {% for r in recipe %}
                            <input type="hidden" name="label" value="{{ label }}">
                            <input type="hidden" name="recipe" value="{{ r.recipe_id }}">
                            <span class="removeIcon" hidden><span class="glyphicon glyphicon-remove" value="{{ r.recipe_id }}"></span></span><a href="/recipe/{{ r.recipe_id }}"> {{ r.recipe_name }}</a><br>
                        {% endfor %}
                        <br>
                    {% endfor %}
                </form>
            </div>                     
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <h4 id="update">Change Username or Password <span class="glyphicon glyphicon-menu-down"></span></h4><br>
                <form action="/settings" class="expandable" id="settings" method="POST">
                    <label> Change Username <br><input type="text" id="username" name="username" value="Ada2016"></label><br><br>
                    <label> Change Password <br><input type="password" name="password" value="bright"></label><br><br>
                    <label><input type="submit" value="Update"></label>
                </form>
            </div>
        </div>
        <br> 
        <div class="row">  
                <div class="col-xs-12 col-md-4 col-lg-3">

                </div>
        </div>  
    </div>
</div>
<script>
    function showDetails(evt) {
        $(this).nextUntil('div').toggle();
    }
    $('#update').on('click', showDetails);

    function showHidden(evt) {
        if ($('.to-toggle').attr("hidden")) {
            $(this).html("Save Changes");
            $('.to-toggle').attr("hidden", null);
            $('.removeIcon').attr("hidden", null);
        } else {
            $('#editForm').submit();
        }
    }
    $('#edit').on('click', showHidden);

    $('.glyphicon-remove').on('click', function(evt) {
        var recipeId = $(this).value;
    })

</script>

{% endblock %}