{% extends 'base.html' %}
{% block title%}Register{% endblock %}
{% block content %}

<div class="my-contents">
    <h1>Register</h1>
    <div class="forms">
        <form action="/register" id="register-form" method="POST">
            <label> Username <br><input type="text" id="username" name="username" value="Ada"></label><br><br>
            <label> Password <br><input type="password" name="password" value="12345"></label><br><br>
            <label><input type="submit" value="Register"></label>
        </form>
    </div>
</div>
{% endblock %}