{% extends 'base.html' %}
{% block title%}Save Recipe{% endblock %}
{% block content %}

<h1>Save Recipe </h1><h5>{{ recipe.recipe_name }}</h5>
<br>
<form action="/save_recipe" method="POST" id="label-form">
    <input type="hidden" id="recipe-id" name="recipe-id" value="{{ recipe.recipe_id }}">
    <label>Choose Existing Label</label><br>
    <select name="box-label" id="box-label" class="my-labels">
        <label><option disable selected value> (My Labels) </option></label>
        {% for box in boxes %}
            <label><option value="{{ box.label_name }}">{{ box.label_name }}</option></label>
        {% endfor %}
    </select>
    <br><br>
    <label> 
        Create New Label<br>
        <input type="text" id="new-label" name="new-label" class="my-labels">
    </label>
    <br><br>
    <label>
        Recipe Notes<br>
        <textarea id="notes" name="notes" placeholder="Max Length 500" maxlength="600" rows="10" cols="40"></textarea>
    </label>
    <br><br>
    <label><input type="submit" value="Save"></label>

</form>

{% endblock %}