{% extends 'base.html' %}
{% block title%}Search{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1>Search</h1>
        </div>
    </div>
    <br>
    <form action="/results" id="searching-form">
        <div class="row">
            <div class="col-xs-12 ing-header">
                <span class="clickable-label search-label expand-types">
                    <h4><label class="add-cursor">Search By Ingredients</label>
                    <span class="glyphicon glyphicon-menu-down"></span></h4><br>
                </span>
                <span class="clickable expand-ingredients" hidden>Expand All Ingredients</span>
            </div>
        </div>
        <div class="row add-bg">
            {% for t in all_types|sort(attribute='type_name') %}
                <div class="col-xs-12 col-md-4 expandable indent2 ingredient-type clickable-label expand-names">
                    {{ t.type_name }}
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                    <div class="expandable indent2 ingredient-name">
                        {% for ingredient in t.ingredients|sort(attribute='ingredient_name') %}
                            <label><input type="checkbox" name="ingredient" value="{{ ingredient.ingredient_name }}"> {{ ingredient.ingredient_name }} </label><br>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <span class="clickable-label search-label expand-courses">
                    <h4><label class="add-cursor">Search By Courses</label>
                    <span class="glyphicon glyphicon-menu-down"></span></h4><br>
                </span>
            </div>
        </div>
        <div class="row add-bg">
            {% for course in all_courses|sort(attribute='course_name') %}
                <div class="col-xs-12 col-md-4 expandable indent2 course-name">
                    <label><input type="checkbox" name="course" value="{{ course.course_name }}"> {{ course.course_name }} </label>
                </div>
            {% endfor %}
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <h4><label class="search-label"> Search By Maximum Time: <input type="number" name="time" min="1" max="1500"></label></h4><br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <h4 class="adjust-width"><label class="search-label"><input type="radio" name="search-term" value="any" checked>&nbspAny Terms</label></h4>&nbsp&nbsp
                <h4 class="adjust-width"><label class="search-label"><input type="radio" name="search-term" value="all">&nbspAll Terms</label></h4>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <label><input  class="btn btn-default" type="reset" value="Reset"></label>
                <label><input class="btn btn-default" type="submit" value="Search"></label>
            </div>
        </div>
    </form> 
</div>

<script href="/static/js/search.js"></script>

{% endblock %}